//
//  Config.xcconfig
//  Porter
//
//  Created by zignis on 22/06/25.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

EXCLUDED_SOURCE_FILE_NAMES = Archive/** Archive/*/* Releases/** Releases/*/* Scripts/** Scripts/*/*
